// Possible fonts
// 'Lato'
// 'Open Sans'
// 'Josefin Sans'

@import "./variables.styl"

html, body
    font-family Lato

.l-section
    .header
        margin-bottom 0.1em
    .content
        margin 10px 0

